/* h2{
    display: inline;
}
span
{
    display: block;
} */ 
 /* span{
    /* background-color: pink; */
    /* border: 2px solid black;
    height: 100px;     
    width: 20px;
    padding: 50px;    
    margin:20px ;
 }


 div
 {
     /* background-color: pink; 
     border: 2px solid black;
     height: 100px;     
     width: 20px;
     padding: 50px;    
     margin:20px ;
  }  
  */
/* 
  div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid block;
    margin: 5px;
    display: inline-block;
} 
  #third{
    display: none;
  } */
   
   /* h1{
    border: 2px solid black;
    width: 33.33% ;
    /* width: 50%; */
   /* }   */
   
   
      /* #outer{
      height: 400px;
      width: 400px;
      border: 2px solid  green;
      background-color: pink;
      font-size: 10px ;
     }    */
       /* #inner{
      height: 100px;
      width: 100px;
       font-size:3em;        /*  3 times of 10px  from parent to child    
        background-color: cornflowerblue;  
       padding: 1em;    /*Padding according to child  font child se set hogi 
       }  */

    button{
      font-size: 50px;
      border-radius: 15px;
      border: 5px solid green;
      padding-left: 1em;  
      padding-right: 1em;
    }
     
    h1{
      background-color: red;
      width: 33.33%;

    }
    /* #outer
    {
      height: 400px;
      width: 400px;
      background-color: pink;
      border: 2px solid black;
      margin: 50px ;
    }
    #inner
    {
      height: 100px;
      width: 100px;
      background-color: cornflowerblue;
      margin: 10% ;
    } */

/* section{
  font-size: 2em;
} */
    /* Drawback of EM  snowball effect */
    /* div{
      font-size: 2em;
    } */
     /* 
     To overcome from this we need property  */
     /* div{
      font-size: 2rem;
     } */
