h1
{
    text-align:center;
    text-decoration:  blueviolet underline ;
    /* border: solid; */    
    font-size: normal;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
    /* font-family: coper; */
    font-family: avant garde, didot, sans-serif;
}
h3{
    text-align: justify ;
     text-decoration:  pink  double line-through; 
     font-family: serif;
    /* text-decoration: red underline; */
}
p
{
    text-align: left ;
    font-weight: lighter;   ;
    line-height: normal;
    letter-spacing: normal;
    font-size: 20px;
}

h2{
    font-weight: 800;
    text-decoration: overline;
     
}
a{
    text-decoration: none;
}
